@page
@model ConfigurationModel
@{
    ViewData["Title"] = "Introductory page";
}
<h2>@ViewData["Title"]</h2>


<body>
<form method="post" >
    <fieldset>
        <legend>Game configuration</legend>
        <div>
            <label for="TableSize">Please enter the size (width/height) of the table you want to play on:</label>
            <input type="text" name="TableSize" value="" />
        </div>
        <div>
            <label for="GameMode">Please select the game mode (M - manual ship placement; A - automatic ship placement):</label>
            <input type="text" name="GameMode" value="" />
        </div>
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Continue" class="continue"/>
        </div>
    </fieldset>
</form>
</body>

<h3>@Model.Message</h3>

